@import 'mixins';

.drawer {
    @include whiteContainer;

    position: fixed;
    z-index: 10;
    top: 0;
    display: grid;
    height: 100%;
    width: 280px;
    transform: none;
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    align-content: start;
    box-shadow: 0 0 0 100vw rgba(#000, 0.5);
}

.closed {
    transform: translateX(-280px);
    box-shadow: none;
}

.link {
    @include link-reset;

    color: grey;
    padding: 20px;
    transition: background-color 0.3s;

    &:hover {
        background: #d9d9d9;
    }

    & + & {
        border-top: 1px solid #c7c7c7;
    }
}
