{
	"presets": [
		"@babel/preset-typescript",
		[
			"@babel/preset-env",
			{ "useBuiltIns": "usage", "corejs": 3}
		],
		["@babel/preset-react", { "runtime": "automatic" }]
	],
	"plugins": [
		"@loadable/babel-plugin",
		["@babel/plugin-proposal-decorators", { "version": "legacy"}],
		"@babel/plugin-transform-runtime"
	]
}

