{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"overrides": [
		{
			"files": ["*.tsx"],
			"options": {
				"parser": "typescript",
				"jsxSingleQuote": true
			}
		}
	]
}
