$white: #fff;
$black: #000;
$afro: #242629;
$red: #ff6a59;
$blue: #3a82c6;
$green: #53b374;
$orange: #f6a623;
$yellow: #ffd60a;
$grey: #4b545b;
$darkGray: #4b545b;

$link-color: $blue;
$border-color: darken($darkGray, 0.2);
$afro: #242629;
$lightBlue: #323236;

$g-font-size: 24px;
$c-font-size: 20px;
$b-font-size: 18px;
$m-font-size: 16px;
$font-size: 14px;
$s-font-size: 12px;
$xs-font-size: 10px;
$field-font-size: $font-size;

$tablet-width: 990px;
$mobile-width: 736px;
$tablet: 'only screen and (max-width: #{$tablet-width})';
$mobile: 'only screen and (max-width: #{$mobile-width})';

@mixin block-reset() {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin whiteContainer() {
    @include radius;
    @include s-shadow;

    background-color: $white;
}

@mixin ellipsis() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin verticalEllipsis($numLine, $height) {
    overflow: hidden;
    max-height: $height;
    display: -webkit-box;
    -webkit-line-clamp: $numLine;
    -webkit-box-orient: vertical;
}

@mixin square($num) {
    width: $num + 0;
    height: $num + 0;
}

@mixin circle($num) {
    @include square($num);

    border-radius: 50%;
}

@mixin offset($x: -50%, $y: -50%) {
    transform: translate($x, $y);
}

@mixin offsetX($x: -50%) {
    transform: translateX($x);
}

@mixin offsetY($y: -50%) {
    transform: translateY($y);
}

@mixin no-offset() {
    @include offset(0, 0);
}

@mixin h1($fw: 500) {
    font-size: 42px;
    line-height: 50px;
    font-weight: $fw;
}

@mixin h2($fw: 500) {
    font-size: 28px;
    line-height: 36px;
    font-weight: $fw;
}

@mixin h3($fw: 500) {
    font-size: 20px;
    line-height: 28px;
    font-weight: $fw;
}

@mixin h4($fw: 500) {
    @include b-text;

    font-weight: $fw;
}

@mixin h5($fw: 500) {
    @include m-text;

    font-weight: $fw;
}

@mixin h6($fw: 500) {
    @include text;

    font-weight: $fw;
}

@mixin s-shadow() {
    box-shadow: 0 2px 4px 0 rgba($black, 0.07);
}

@mixin m-shadow() {
    box-shadow: 0 4px 8px 0 rgba($black, 0.3);
}

@mixin b-shadow() {
    box-shadow: 0 6px 16px 0 rgba($black, 0.3);
}

@mixin no-radius() {
    border-radius: 0;
}

@mixin radius($radius: 5px) {
    border-radius: $radius;
}

@mixin top-radius($radius: 5px) {
    border-radius: $radius $radius 0 0;
}

@mixin bottom-radius($radius: 5px) {
    border-radius: 0 0 $radius $radius;
}

@mixin left-radius($radius: 5px) {
    border-radius: $radius 0 0 $radius;
}

@mixin right-radius($radius: 5px) {
    border-radius: 0 $radius $radius 0;
}

@mixin s-left-radius() {
    border-radius: 3px 0 0 3px;
}

@mixin s-right-radius() {
    border-radius: 0 3px 3px 0;
}

@mixin s-radius() {
    border-radius: 3px;
}

@mixin s-top-radius() {
    border-radius: 3px 3px 0 0;
}

@mixin s-bottom-radius() {
    border-radius: 0 0 3px 3px;
}

@mixin xs-text() {
    font-size: $xs-font-size;
    line-height: 12px;
}

@mixin s-text() {
    font-size: $s-font-size;
    line-height: 16px;
}

@mixin text() {
    font-size: $font-size;
    line-height: 19px;
}

@mixin m-text() {
    font-size: $m-font-size;
    line-height: 21px;
}

@mixin b-text() {
    font-size: $b-font-size;
    line-height: 24px;
}

@mixin c-text() {
    font-size: $c-font-size;
    line-height: 28px;
}

@mixin g-text() {
    font-size: $g-font-size;
    line-height: 32px;
}

@mixin element-reset() {
    box-sizing: border-box;
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: none;
    }
}

@mixin font-reset() {
    font-family: 'SeroPro', sans-serif;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
}

@mixin button-reset() {
    @include element-reset();

    border: none;
    cursor: pointer;
    background: none;
    -webkit-appearance: button;
}

@mixin link-reset() {
    @include element-reset();

    text-decoration: none;
}

@mixin link-color-reset($color) {
    &:visited {
        color: $color;
    }

    &:link {
        color: $color;
    }
}
