@import 'mixins';

html {
    font-family: SeroPro, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $afro;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f4f6;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}
